<h1>{{ headset.name }}</h1>

<img src="{{ headset.image }}" alt="{{ headset.name }}" />

<p>Headset Type: {{ headset.headset_type }}</p>
<p>Connections: {{ headset.connections }}</p>
<p>Resolution: {{ headset.resolution }}</p>
<p>Refresh Rate: {{ headset.refresh_rate }}</p>
<p>Motion Tracking: {{ headset.motion_tracking }}</p>
<p>Controls: {{ headset.controls }}</p>
<p>Hardware Platform: {{ headset.hardware_platform }}</p>
<p>Software Platform: {{ headset.software_platform }}</p>
<p>Description: {{ headset.description }}</p>